.sh-app-main-menu {
	display: none;

	position: absolute;
	overflow: auto;

	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 30px;
}


.sh-app-main-menu .button {
	width: 50%;
	height: 60px;	
    margin-left: 25%;

	line-height: 65px;
	text-align: center;
	font-size: 200%;

	color: #fff;
	border-radius: 10px;
    background-color: rgb(121, 149, 64);
}

.sh-app-main-menu .button.play {
    margin-top: 20%;
}

.sh-app-main-menu .button.score,
.sh-app-main-menu .button.help,
.sh-app-main-menu .button.soundOn{
    margin-top: 10%;
}

.sh-app-main-menu .button.soundOff{
    margin-top: 10%;
    background-color: rgb(100, 100, 100);
}
