.sh-main-frame {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;

	background-image: url(../images/main-bg.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: center center;
}